{% extends 'base.html' %} 
{% block title %}product {% endblock title %}
{% block content %}
{% load static %} {% include 'snippets/nav.html' %}
<section class="content ">
  <!-- Default box -->
  <div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3 class="d-inline-block d-sm-none">{{product.name}}Review</h3>
          <div class="col-12">
            <img
              src="{{product.imageURL}}"
              class="product-image"
              alt="Product Image"
              hi
            />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="my-3">{{product.name}} Review</h3>
          <p>
            Raw denim you probably haven't heard of them jean shorts Austin.
            Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher
            synth. Cosby sweater eu banh mi, qui irure terr.
          </p>

          <hr />
          <h4>Available Colors</h4>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-default text-center">
              <input
                type="radio"
                name="color_option"
                id="color_option_a1"
                autocomplete="off"
                checked=""
              />
              Green
              <br />
              <i class="fas fa-circle fa-2x text-green"></i>
            </label>
            <label class="btn btn-default text-center">
              <input
                type="radio"
                name="color_option"
                id="color_option_a2"
                autocomplete="off"
              />
              Blue
              <br />
              <i class="fas fa-circle fa-2x text-blue"></i>
            </label>
            <label class="btn btn-default text-center">
              <input
                type="radio"
                name="color_option"
                id="color_option_a3"
                autocomplete="off"
              />
              Purple
              <br />
              <i class="fas fa-circle fa-2x text-purple"></i>
            </label>
            <label class="btn btn-default text-center">
              <input
                type="radio"
                name="color_option"
                id="color_option_a4"
                autocomplete="off"
              />
              Red
              <br />
              <i class="fas fa-circle fa-2x text-red"></i>
            </label>
            <label class="btn btn-default text-center active">
              <input
                type="radio"
                name="color_option"
                id="color_option_a5"
                autocomplete="off"
              />
              Orange
              <br />
              <i class="fas fa-circle fa-2x text-orange"></i>
            </label>
          </div>

          

          <div class=" py-2 px-3 mt-4">
            <h2 class="mb-0">${{product.price}}</h2>
            <h4 class="mt-0">
              <small>Ex Tax: ${{product.price}} </small>
            </h4>
          </div>

            <button data-product="{{product.id}}" data-action="add" class="btn btn-primary add-btn update-cart"><i class="fas fa-cart-plus fa-lg mr-2"></i> Add to Cart</button>
          
          </div>

        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>
{% endblock content %}
