{% load static %}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured-carousel owl-carousel">
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(static/images/work-7.jpg);">
                                <button data-product="{{product.id}}" data-action="add" class="btn btn-primary add-btn update-cart"><i class="fas fa-cart-plus fa-lg mr-2"></i> Add to Cart</button>
          
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">BED</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(static/images/work-8.jpg);">
                                
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">Work Desk</a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(static/images/work-9.jpg);">
                                <button data-product="{{product.id}}" data-action="add" class="btn btn-primary add-btn update-cart"><i class="fas fa-cart-plus fa-lg mr-2"></i> Add to Cart</button>
          
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">Cushin </a></h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(static/images/work-10.jpg);">
                                <button data-product="{{product.id}}" data-action="add" class="btn btn-primary add-btn update-cart"><i class="fas fa-cart-plus fa-lg mr-2"></i> Add to Cart</button>
          
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">Cupboard</a></h3>
                               
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(static/images/work-12.jpg);">
                                <button data-product="{{product.id}}" data-action="add" class="btn btn-primary add-btn update-cart"><i class="fas fa-cart-plus fa-lg mr-2"></i> Add to Cart</button>
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                
                               
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work">
                            <div class="img d-flex align-items-center justify-content-center rounded" style="background-image: url(static/images/work-13.jpg);">
                                <button data-product="{{product.id}}" data-action="add" class="btn btn-primary add-btn update-cart"><i class="fas fa-cart-plus fa-lg mr-2"></i> Add to Cart</button>
          
                            </div>
                            <div class="text pt-3 w-100 text-center">
                                <h3><a href="#">Couch</a></h3>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>