{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block login %}{% endblock login %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'account/assets/css/styles.min.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/css/linearicons.css'%}">
</head>
<style>
  .translate-middley {
    -webkit-transform: translate(-50%,-50%)!important;
    transform: translate(-90%,-50%)!important;
}
</style>
<body>
  <!--  Body Wrapper -->
 {% block content %}
 
 {% endblock content %}
</body>
  <script src="{% static 'account/assets/libs/jquery/dist/jquery.min.js'%}"></script>
  <script src="{% static 'account/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'account/assets/libs/jquery/dist/jquery.min.js'%}"></script>
  <script src="{% static 'account/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'account/assets/js/sidebarmenu.js'%}"></script>
  <script src="{% static 'account/assets/js/app.min.js'%}"></script>
  <script src="{% static 'account/assets/libs/apexcharts/dist/apexcharts.min.js'%}"></script>
  <script src="{% static 'account/assets/libs/simplebar/dist/simplebar.js'%}"></script>
  <script src="{% static 'account/assets/js/dashboard.js'%}"></script>

</html>